body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,#FAE6B1, #eda831);
    color: #050e27;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(3, 0, 0, 0.5);
    font-family: serif;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #315d69;
    font-family: 'Times New Roman', Times, serif;
}

form {
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 400px;
    margin-bottom: 1.5rem;
}

input[type="file"],
input[type="text"] {
    width: 95%;
    padding: 0.70rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #d96060;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #e65a50;
}

#result {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}


@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    form {
        width: 90%;
    }
}


